body{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica
}
.background_container{
  min-height: 100vh;
  min-width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container{
  width: 500px;
  height: auto;
  min-width:500px;
  min-height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),
              0 25px 50px 0 rgba(0,0,0,0.1);

  transition: height 0.4s;
}

.header{
  background-color: #2eb8ea;
  min-height: 50px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  flex: 1;
  color: #45505f;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.footer{
  min-height: 50px;
  background-color: #eee4e4;
  display: flex;
  justify-content:center;
  align-items:center;
  padding-left: 10px;
  padding-right: 10px;
}

.question_footer{
  justify-content:space-between;
}

.question_pane{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


button{
  width:100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #2eb8ea;
  font-size: 15px;
  background-color: #ffffff;
  outline: 0;
  transition: background-color 0.4s;
}

button:hover{
  background-color: #2eb8ea;
  color: #ffffff;

  transition: background-color 0.4s;
}
button:disabled{
  border: 1px solid #aaaaaa;
}
button:disabled:hover{
  background-color: #ffffff;
  color: #aaaaaa;
}

.button_bar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_bar button{
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  border: 1px solid #e85e5e;
}
.button_bar button:hover{
  background-color: #e85e5e;
}
